/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 de nov. de 2023, 22:16:07
    Author     : silva
*/



:root{
    
    -azul_escuro2: #3C29F0;
    -azul_escuro1:    #2A4EFA;
    -azul_medio:    #327FE3;
    -azul_claro:    #2ABBFA;
    -branco: #fff;
    -verde_header: #28E07C;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
     background-color: #28E0BB;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > h1{
    margin: 20px 30px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 0px 0px 0px 5px;
}

.sidebar {
    background-color: #2ABBFA;
    width: 30%;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    
}
button{
    text-decoration: none;
    background-color: #28E0BB;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    
    
}
button:hover{
    cursor: pointer;
}
button.sidebar_menu{
    padding: 10px 50px 10px 20px;
    margin: 0px  10px 10px;
    display: flex;
    color: white;
    transition: background-color 1s, color 0.3s;
    
}
button.sidebar_menu:hover{
    
    padding: 15px 55px 10px 20px;
    box-shadow: 2px 3px 10px gray; 
    cursor: pointer;
   
        
}
.Furos{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    color: white;
    display: flex;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    margin-left: 5px; 
}

.main-content {
    width: 70%;
    padding: 20px;
}

.my-books {
    
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.table-container {
     /* Altura máxima da tabela */
    width: 100%;
    border-bottom:  3px solid #ddd;
    
}
.selecionar{
    padding-right: 3px; 
}



th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-links:hover{
    background-color: #2ABBFA;
    color: #2ABBFA;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}


